footer {
  background: var(--fundo-primario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.links a {
  text-decoration: none;
  color: var(--cor-link);
  font-family: var(--font-geist);
  font-size: 12px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}